SI-GuidedProject-3067-1623997208/Node-Red Application/flows.json
[{"id":"fb898489.ad2d68","type":"tab","label":"Health Insurance Premium","disabled":false,"info":"Health Insurance Premium Prediction based on parameters like \"age\", \"children\", \"bmi\", \"sex\", \"region\", \"whether person is smoker or not\"."},{"id":"65bd1b25.d2a924","type":"ui_form","z":"fb898489.ad2d68","name":"","label":"","group":"d1c45b4.7c70ca8","order":4,"width":0,"height":0,"options":[{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Children","value":"child","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null}],"formValue":{"age":"","child":"","bmi":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":100,"y":100,"wires":[["dea69c6c.fa774"]]},{"id":"aec5f9e2.d86188","type":"ui_dropdown","z":"fb898489.ad2d68","name":"","label":"Sex","tooltip":"Your Gender","place":"Select option","group":"d1c45b4.7c70ca8","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Female","value":"female","type":"str"},{"label":"Male","value":"male","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":170,"y":160,"wires":[["b0fc591c.dca328"]],"icon":"font-awesome/fa-intersex"},{"id":"a7a03493.d20c38","type":"ui_dropdown","z":"fb898489.ad2d68","name":"","label":"Smoker","tooltip":"Are you a smoker?","place":"Select option","group":"d1c45b4.7c70ca8","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Yes","value":"yes","type":"str"},{"label":"No","value":"no","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":180,"y":220,"wires":[["5453ffc9.49662"]]},{"id":"6d3f5843.706bb8","type":"ui_dropdown","z":"fb898489.ad2d68","name":"","label":"Region","tooltip":"Select your Region","place":"Select option","group":"d1c45b4.7c70ca8","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"NorthEast","value":"northeast","type":"str"},{"label":"NorthWest","value":"northwest","type":"str"},{"label":"SouthEast","value":"southeast","type":"str"},{"label":"SouthWest","value":"southwest","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":180,"y":280,"wires":[["e51e5c03.7df2c"]]},{"id":"45ce2a31.6fd834","type":"debug","z":"fb898489.ad2d68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":100,"wires":[]},{"id":"a626dbd1.dcac28","type":"debug","z":"fb898489.ad2d68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":280,"wires":[]},{"id":"879e6ec9.663f7","type":"debug","z":"fb898489.ad2d68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":220,"wires":[]},{"id":"1db09678.f2b69a","type":"debug","z":"fb898489.ad2d68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":160,"wires":[]},{"id":"dea69c6c.fa774","type":"function","z":"fb898489.ad2d68","name":"Global Varibales for Form Node","func":"global.set(\"age\", msg.payload.age)\nglobal.set(\"children\", msg.payload.child)\nglobal.set(\"bmi\", msg.payload.bmi)\nvar apikey = \"oVhQSxo539SUVTcAyw7iu2OoJtgl8YGoW9Gs87Oy6Dmf\"\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\", \"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":100,"wires":[["45ce2a31.6fd834","36f386d9.430bba"]]},{"id":"b0fc591c.dca328","type":"function","z":"fb898489.ad2d68","name":"Global Variable for Sex","func":"global.set(\"sex\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":160,"wires":[["1db09678.f2b69a"]]},{"id":"5453ffc9.49662","type":"function","z":"fb898489.ad2d68","name":"Global Variable for Smoker","func":"global.set(\"smoker\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":220,"wires":[["879e6ec9.663f7"]]},{"id":"e51e5c03.7df2c","type":"function","z":"fb898489.ad2d68","name":"Global Variable for Region","func":"global.set(\"region\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":280,"wires":[["a626dbd1.dcac28"]]},{"id":"36f386d9.430bba","type":"http request","z":"fb898489.ad2d68","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":60,"wires":[["dd580691.68cca8","ce158256.5e3ee"]]},{"id":"dd580691.68cca8","type":"debug","z":"fb898489.ad2d68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":120,"wires":[]},{"id":"ce158256.5e3ee","type":"function","z":"fb898489.ad2d68","name":"","func":"var age = global.get(\"age\")\nvar children = global.get(\"children\")\nvar bmi = global.get(\"bmi\")\nvar sex = global.get(\"sex\")\nvar region = global.get(\"region\")\nvar smoker = global.get(\"smoker\")\nvar token = msg.payload.access_token\nmsg.headers = {'Content-Type':'application/json', \"Authorization\": \"Bearer \" + token, \"Accept\": \"application/json\"}\nmsg.payload = {\n\t\"input_data\": [\n\t\t{\n\t\t\t\"fields\": [\n\t\t\t\t\"age\",\n\t\t\t\t\"sex\",\n\t\t\t\t\"bmi\",\n\t\t\t\t\"children\",\n\t\t\t\t\"smoker\",\n\t\t\t\t\"region\"\n\t\t\t],\n\t\t\t\"values\": [\n\t\t\t\t[\n\t\t\t\t\tage,\n\t\t\t\t\tsex,\n\t\t\t\t\tbmi,\n\t\t\t\t\tchildren,\n\t\t\t\t\tsmoker,\n\t\t\t\t\tregion\n\t\t\t\t]\n\t\t\t]\n\t\t}\n\t]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":60,"wires":[["5bb0dbcc.a60f14"]]},{"id":"5bb0dbcc.a60f14","type":"http request","z":"fb898489.ad2d68","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/ceb22694-c479-416c-afee-38c159532f3f/predictions?version=2021-06-26","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":60,"wires":[["af0ddb09.916608","6fa697fd.8dc4c8"]]},{"id":"af0ddb09.916608","type":"debug","z":"fb898489.ad2d68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":120,"wires":[]},{"id":"6fa697fd.8dc4c8","type":"function","z":"fb898489.ad2d68","name":"Prediction","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":60,"wires":[["e5dd189f.39ebf8","6e96cb5a.c4d444"]]},{"id":"e5dd189f.39ebf8","type":"debug","z":"fb898489.ad2d68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1550,"y":120,"wires":[]},{"id":"6e96cb5a.c4d444","type":"ui_text","z":"fb898489.ad2d68","group":"d1c45b4.7c70ca8","order":4,"width":0,"height":0,"name":"","label":"Health Insurance Premium: ","format":"{{msg.payload}}","layout":"row-spread","x":1620,"y":60,"wires":[]},{"id":"d1c45b4.7c70ca8","type":"ui_group","name":"Enter the Details","tab":"af531ecf.e203e","order":1,"disp":true,"width":"6","collapse":false},{"id":"af531ecf.e203e","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]